---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Projects" }}</h3>

{% if site.data.projects and site.data.projects.size > 0 %}
  <h3 class="archive__subtitle">Professional Projects</h3>
  <ul class="projects-list">
    {% for p in site.data.projects %}
      <li>
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
        {% if p.description %} — {{ p.description }}{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if site.data.projects and site.data.projects.size > 0 %}
  <h3 class="archive__subtitle">Personal Projects</h3>
  <ul class="projects-list">
    {% for p in site.data.personal %}
      <li>
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
        {% if p.description %} — {{ p.description }}{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if site.data.projects and site.data.projects.size > 0 %}
  <h3 class="archive__subtitle">Instructional Materials</h3>
  <ul class="resources-list">
    {% for p in site.data.resources %}
      <li>
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
        {% if p.description %} — {{ p.description }}{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
